/* #signInBtn {
  background-color: red;
} */
#brandy {
  background-color: red;
  color: white;
  font-size: 4em;
  font-weight: 900;
}

#navbarTop {
  background-color: red;
}

#navbarRight {
  color: white;
}

#subscribe {
  background-color: white;
  color: red;
  font-weight: bold;
}

#signin {
  color: white;
}

#mainContainer {
  margin-top: 70px;
}

h3 {
  margin-top: 0px;
}

#latestSidebar {
  /* border-bottom: 1px solid gray; */
  padding-bottom: 5px;
  font-size: 15px;
}

#sidebar1 {
  padding-left: 30px;
}

.sidebarHeadlines {
  border-top: 1px solid #C4C7C7;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 15px;
}

.newsletter {
  background-color: #f4f5f6;
  border: 1px solid #E1E2E3;
}

#signUpNewsletter {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 15px;
}

#signUpButton {
  color: #fff;
  background-color: #666;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

#preferences {
  font-weight: bold;
  color: #000;
  margin-left: 10px;
}

#mainArticle {
  border-bottom: 1px solid #C4C7C7;
  margin-bottom: 15px;
}

h5 {
  font-weight: bold;
  color: red;
}

.storyHeadline {
  font-weight: bold;
}

.storyCol {
  /* border-bottom: 1px solid #C4C7C7; */
  padding-left: 15px;
  padding-right: 15px;
  min-height: 400px;
}

.storyRow {
  margin-bottom: 15px;
}

#slideshowDivTitle {
  align-items: center;
  border-bottom: 1px solid #C4C7C7;
  margin-bottom: 15px;
}

/* #inTheMagazine {
  margin-left: auto;
  margin-right: auto;
} */


#weekFeature {
  background-color: #F4F5F6;
  padding: 20px 0px 20px 20px;

}

.featuredStories {
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  list-style-type: none;
  list-style: none;
}

.featuredStories a {
  color: black;
}

.featuredStories li {
  padding: 10px 0 10px 0;
}

#featSto1, #featSto2 {
  border-bottom: 1px solid #C4C7C7;
  margin-right: 25px;
}

#featuresButton {
  color: #fff;
  background-color: #1FB8FC;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

#theRowOfTheFeatures {
  margin-top: 20px;
}

.mostReadTitles {
  color: black;
  font-size: 15px;
  font-weight: bold;
  /* padding-left: 15px; */
}

/* .mostReadImage {
  margin-right: 30px;
} */

.mostReadStories {
  margin-bottom: 15px;
}

hr {
  margin: 10px;
}

#gayMan {
  height: 201px;
  width: auto;
}

.subscribeButton {
  color: #fff;
  background-color: #F72210;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.2em;
}

.subscribeList {
    list-style: none;
    margin-bottom: 20px;
  }

 .subscribeList li:before {
    content: '✓';
  }

.subscriptionHeader {
  font-weight: bold;
}

/* .subscriptionDiv {
  border:  1px solid #C4C7C7;
  margin: 0 15px 20px 15px;
  padding: 25px;
} */

.chooseSubscription {
  border:  1px solid #C4C7C7;
  margin: 0 15px 20px 15px;
  padding: 25px;
}

.sectionHeader {
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  color: black;
  text-align: center;
}

footer {
  padding: 30px;
}

#newsweekLogo {
  font-size: 4em;
  font-weight: 900;
  color: #F5302A;
}
